*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 30px 50px repeat(3, 1fr) 25px;
    gap: 5px;
}
h1{
    margin-top: 0px;
}
h3{
    margin-top: 15px;
}
p{
    margin-top: 15px;
}
img{
    width: 100% ;
    height: 100%;
    object-fit: cover;
}
.header{
    text-align: center;
    grid-column: 1/7;
    grid-row: 1/2;
    height: 35px;
    background-color: bisque;
}
.row2-column1{
    grid-row: 2/3;
    grid-column: 1/4;
    background-color: rgb(140, 196, 246);
    text-align: center;
    height: 50px;
}
.row2-column2{
    grid-row: 2/3;
    grid-column: 4/7;
    background-color: rgb(128, 110, 81);
    text-align: center;
    height: 50px;
}
.column1{
    background-color: aqua;
    grid-row: 3/6;
    grid-column: 1/2;
}
.column2{
    background-color: aquamarine;
    grid-row: 3/4;
    grid-column: 2/3;
}
.column3{
    background-color: aquamarine;
    grid-row: 4/5;
    grid-column: 2/3;
}
.column4{
    background-color: aquamarine;
    grid-row: 5/6;
    grid-column: 2/3;
}
.column5{
    background-color: bisque;
    grid-row: 3/4;
    grid-column: 3/4;
}
.column6{
    background-color: bisque;
    grid-row: 4/5;
    grid-column: 3/4;
}
.column7{
    background-color: bisque;
    grid-row: 3/4;
    grid-column: 4/6;
}
.column8{
    background-color: bisque;
    grid-row: 3/4;
    grid-column: 6/7;
}
.column9{
    background-color: rgb(150, 125, 95);
    grid-row: 4/5;
    grid-column: 4/5;
}
.column10{
    background-color: rgb(212, 134, 38);
    grid-row: 4/5;
    grid-column: 5/6;
}
.column11{
    background-color: blueviolet;
    grid-row: 4/6;
    grid-column: 6/7;
}
.column12{
    background-color: rgb(150, 125, 95);
    grid-row: 5/6;
    grid-column: 4/5;
}
.column13{
    background-color: rgb(212, 134, 38);
    grid-row: 5/6;
    grid-column: 5/6;
}
.column14{
    grid-row: 5/6;
    grid-column: 3/4;
}
.footer{
    text-align: center;
    grid-column: 1/7;
    grid-row: 6/7;
    height: 30px !important;
    background-color: bisque;
    margin-top: -5px;
}